body {
  background-image: url("parchment.jpg");
  text-align: center;
  margin: 40px auto;
  max-width: 800px;
  background-size:100%;
  background-repeat: repeat;
  padding: 0 40px;
  font: 16px 'Open Sans', sans-serif;
  color: #625750;
}

.placeholder-div{
  color: #625750;

  p {
      margin: 10px;
      background-color:oldlace;
  }

  opacity: 0.9;
  border-radius: 5px;
}
